<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/site.css">
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a id="home" class="left-floated" href="/">MoneyGone</a>
                </li>
            </ul>
            {{#if user}}
            <ul>
                <li>
                    <a class="right-floated" href="#">{{user.username}}</a>
                </li>

                <li>
                    <a class="right-floated" href="/logout">Logout</a>
                </li>
            </ul>
            {{else}}
            <ul>
                <li>
                    <a class="right-floated" href="/login">Login</a>
                </li>
            </ul>
            {{/if}}
        </nav>
    </header>
     {{#if globalError}}
        <div id="notifications">
            {{#each globalError}}
            <p id="notification-message">{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
           {{{body}}}
   
    <footer>
        <!-- <a href="#home"> &uarr; Back to top &uarr;</a> -->
        <img src="https://softuni.bg/Content/images/about-page/softuni.png" alt="">
        <p>Software University - JavaScript Back-End September 2019 Season</p>
        <p>@2019 MoneyGone. All Rights Reserved &copy;</p>
    </footer>
</body>

</html>