   <main>
        <form action="/register" method="POST">
            <h1>Register</h1>

            <p>Personal info</p>
            <label for="usernmae">Username</label>
            <input id="username" type="text" placeholder="JustMyself123..." value="{{username}}">

            <label for="usernmae">Password</label>
            <input id="password" type="password" placeholder="******" value = "{{password}}">

            <label for="repeat-password">Repeat Password</label>
            <input id="repeat-password" type="password" placeholder="******" value = "{{repeatedPassword}}">
            <hr>
            <p>Account</p>
            <label for="usernmae">Amount</label>
            <input id="username" type="text" placeholder="$125.90" value = "{{amount}}">

            <button type="submit">Register</button>
        </form>
    </main>